.contact-title{
text-align: center;

}

.contact-details {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(239, 221, 126);
  width: 100%;
  padding: 15px;
}

.icon-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(187, 173, 105, 0.58);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
}

.contact-list {
  list-style: none;

  li {}
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  table {
    display: inline-block;
    padding: 2.5rem;

    .icon-style {
      margin: 0 auto;
    }
  }
}

.location {
  background-color: white;
}

.address-container {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 1rem;
  width: 100%;

  .icon-address {}

  .address-list {
    list-style: none;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
  }
}

#map{
  margin-top: 1rem;
  height:300px;
  width: 100%;
  background-color: grey;
}

@media(min-width: 576px) {
  .contact-details {
    margin: 0 auto;
    max-width: 70%;
  }
}

@media(min-width: 768px) {
  .address-container{
    width: 200px;
  }
  #map{
    margin-top: 0;
    height:300px;
    width: 450px;
  }
}

@media(min-width: 992px) {
  #map{
    margin-top: 0;
    height:500px;
    width: 600px;
  }

}

@media(min-width: 1200px) {
  .contact-details {
    margin: 0 auto;
    max-width: 50%;
  }
}
