/*Callout styles*/

.callout-container {
  display: flex;
  align-items: center;
  justify-content:center; 
  height: 100vh;
  background-image: url("../../images/callout/model.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .callout {
    margin: auto;
  }
}
