/*Callout styles*/

.callout-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../images/callout/model.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .color-overlay {
    width: 100%;
    height: 100%;
    background-color: $colourOverlay;
    opacity: 0.95;
    position: absolute;
  }

  .callout {
    margin: auto;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
  }

  .jumbotron-color {
    background-color: $calloutColor;

    .btn-callout {
      background-color: $servicesBtn;
      border-color: $servicesBtn;
      border-radius: 30px;
      letter-spacing: 0.1em;
      margin: 0.5rem 1rem;
      width: 8rem;

      a {
        color: white;
        font-size: 1.2rem;
      }
    }

    .btn-callout:hover {
      background-color: #cc96b4;
      border-color: #cc96b4;
    }
  }
}
/*Welcome styles*/
.welcome {
  @include sectionPad
}
/*Image slider styles*/
.gallery{
  background-color: white;

  .carousel-item {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*Intouch styles*/

.intouch {
  @include sectionPad ul {
    list-style: none;
    margin-top: 30px;

    li {
      display: inline-block;
      padding-right: 2rem;

      i {
        @include icon;
        height: 50px;
        width: 50px;
        font-size: 2rem;
        color: #fafafa;
        background: rgba(204, 182, 154, 1);
      }
    }
  }
}

.opening {

  background-color: white;

  .opening-times {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    @include sectionPad;


    tbody{
      border: 1px solid $goldIcon;
      border-radius: 7px;
    }
    th{
      text-transform: uppercase;
      padding-top: 10px;
      font-size: 1.5rem;
      text-decoration: underline;
    }

    tr {

    }

    td {
      padding: 1rem 2rem;
    }
  }
}
//Media Queries
@media(min-width: 768px) {
  .img-carousel {
    margin: 0 auto;
    max-width: 50%;
  }
.gallery{
  .carousel-item{
    margin: 2em inherit;
  }
}

}
@media(min-width: 992px) {
  .img-carousel {
    max-width: 40%;
    margin-bottom: 2rem;
  }
}
@media(min-width: 1200px) {
  .img-carousel {
    max-width: 30%;
    margin-bottom: 2rem;
  }
}
