.prices-intro {
  margin-top: 3.5rem;
}

.prices {
  background-image: url("../../images/prices/flower.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .price-slides {
    padding-bottom: 20px;
  }

  .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.58);
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  .carousel-item {
    height: 90vh;

    .card {
      margin: auto auto 30px;
      border: 1px solid rgb(241, 228, 237);
      background-color: rgb(241, 228, 237);
      border-radius: 10px;
      box-shadow: 3px , 3px, 10px rgba(0, 0, 0, 0.3);
      width: 19rem;
    }
  }
}

.price-list {
  margin: auto;
  font-size: 1rem;

  td {
    padding: 0.6rem 1.8rem;
  }
}
//Media Queries
@media(min-width: 576px) {
  .prices {
    .carousel-item {
      height: 65vh;
    }
  }
}
@media(min-width: 768px) {
  .prices {
    .carousel-item {
      height: 60vh;
    }
  }
}
@media(min-width: 992px) {
  .prices {
    .carousel-item {
      height: 60vh;
    }
  }
}
@media(min-width: 1200px) {
  .prices {
    .carousel-item {
      height: 60vh;
    }
  }
}
