.prices-intro {
  margin-top: 3.5rem;
}

.prices{
  .icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.58);
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .carousel-item{
    .card{
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      min-height: 55vh;
    }
  }
}

.price-list{
  margin: auto;
  font-size: 1.5rem;
  td{
    padding: 1rem 1.8rem;
  }
  .title{
    font-weight: bold;
  }
}
