.prices-intro {
  margin-top: 3.5rem;
}

.prices{
  background-color: white;
  .icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.58);
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .carousel-item{
    .card{
      margin: 0 auto;
        border: 1px solid $goldIcon;
        background-color: $goldIcon;
      border-radius: 10px;
      box-shadow: 3px , 3px, 10px rgba(0, 0, 0, 0.3);
      height: 55vh;
    }
  }
}

.price-list{
  margin: auto;
  font-size: 1.3rem;
  td{
    padding: 1rem 1.8rem;
  }
  .title{
    text-decoration: underline;
  }
}
