.event-wrapper{

}

.products {
  margin-top: 3.5rem;
}

.products{
  @include sectionPad
  background-color: white;

  .section-container{
      margin-bottom: 30px;
    p{
      margin-top: 15px;
    }


  }

  .ghd{
    background-image: url("../../images/services/products/ghd.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shampoo{
    background-color: grey;
  }

  .hair{
    background-color: grey;
  }
}
