.event-wrapper{

}

.products {
  margin-top: 3.5rem;
}

.products{
  @include sectionPad
  background-color: white;

  .section-container{
      margin-bottom: 30px;
    p{
      margin-top: 15px;
    }


  }

  .ghd{
    background-image: url("../../images/services/products/ghd.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shampoo{
    background-image: url("../../images/services/products/loreal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hair{
    background-image: url("../../images/services/products/great-lengths.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
  }
}

@media(min-width: 992px) {
  .product-pad{
    padding-bottom: 13em;
  }
}
