html {
  body {
    font-family: $paraFont;
    width: 100%;
    overflow-x: hidden;
    background-color: $sectionDefault;
    color: $fontColor;
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headerFont;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
  }
}

.padding {
  padding: 1.5rem 1rem;
}

.top-section {
  margin-top: 3.5rem;
}

.white-section {
  background-color: white;
}

.yellow-section {
  background-color: $yellowSection;
}

#nav-list {
  margin-bottom: 0;
  padding-left: 0;

  li {
    list-style: none;

    p {
      font-size: 1rem;
      color: $hotPink;
      margin-bottom: 0;
      font-weight: normal;
    }

    a {
      padding: 0;
    }
  }

  .nav-number {
    margin-top: -10px;
  }
}

.navbar-char {
  background-color: $charcoal;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;

  .brand-color {
    color: white;
  }

  ul {
    li {
      padding-right: 0.6rem;
      font-size: 1.2rem;
      font-weight: normal;

      a {
        color: $hotPink;
      }

      .active {
        color: $navActive;
      }
    }
  }
}

.gold-icon {
  @include icon;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background: rgba(204, 182, 154, 1);
  margin: 10px auto;

  a {
    color: #fafafa;
  }
}

.gold-icon:hover {
  background-color: #bfa98c;

  a {
    text-decoration: none;
  }

  i {
    background-color: #bfa98c;
  }
}

#navbar-responsive-btn {
  padding: 9px 10px;
  border-color: $hotPink;

  .icons {
    display: inline-block;
  }

  .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background-color: $hotPink;
    margin-top: 6px;
  }

  .icon-bar-top {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}
//Section styles

.heading-underline {
  margin-bottom: 30px;
}
//Buttons
.btn {
  @include buttons;
}
//image styles
.round-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
//Footer Styles

footer {
  background-color: $palePink;
  color: $footerText;

  h4 {
    color: $footerHeading;
    text-decoration: underline;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }

  a {
    color: $footerText;
  }

  a:hover {
    color: $footerText;

  }

  .footer-pages {
    .footer-link {
      display: inline-block;
    }
  }

  .icon {
    padding-right: 5px;
  }

  .footer-address {
    display: flex;
    justify-content: center;
    color: $fontColor;

    .address-list {
      list-style: none;
      text-align: left;
      padding-left: 20px;
      color: white;
    }

    .icon-style {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(187, 173, 105, 0.58);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
    }
  }
}

.card-shadow {
  box-shadow: 3px 3px 20px rgba(0,0,0,.2);
}
