html {
  body {
    font-family: $paraFont;
    overflow-x: hidden;
    background-color: $sectionDefault;
    color: $fontColor;
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headerFont;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

.padding {
  padding: 1.5rem 1rem;
}

.top-section{
    margin-top: 3.5rem;
}
.navbar-char {
  background-color: $charcoal;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;

  .brand-color {
    color: white;
  }

  ul {
    li {
      padding-right: 0.6rem;
      font-size: 1.2rem;
      font-weight: bold;

      a {
        color: $hotPink;
      }

      .active {
        color: $navActive;
      }
    }
  }
}

#navbar-responsive-btn {
  padding: 9px 10px;
  border-color: $hotPink;

  .icons {
    display: inline-block;
  }

  .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background-color: $hotPink;
    margin-top: 6px;
  }

  .icon-bar-top {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}

//Footer Styles
footer {
  background-color: $palePink;
  color: $footerText;

  h4 {
    color: $footerHeading;
    text-decoration: underline;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }

  a {
    color: $footerText;
  }

  .footer-pages {
    .footer-link {
      display: inline-block;
    }
  }

  .icon {
    padding-right: 5px;
  }

  .social-links {
    li {
      display: inline-block;

      a {
        i {
          @include icon;
          color: #fafafa;
          background: $footerFb;
        }

        .mail {
          background-color: $mail;
        }
      }
    }
  }
}

.card-shadow{
  box-shadow: 3px 3px 20px rgba(0,0,0,.2)
}
