// Icon base style
@mixin icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 20px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  margin: 0 5px;
}

@mixin sectionPad{
  padding: 30px 5px 0px 5px;
  margin:25px 0;
  background-color: inherit;
}
