@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Open+Sans+Condensed:300&display=swap");
html body {
  font-family: "Open Sans Condensed", sans-serif;
  overflow-x: hidden; }

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "DM Serif Display", serif; }

.padding {
  padding: 1.5rem 0; }

.navbar-char {
  background-color: #1F1F1F;
  position: fixed;
  width: 100%; }
  .navbar-char .brand-color {
    color: white; }
  .navbar-char ul li {
    padding-right: .6rem;
    font-size: 1.2rem;
    font-weight: bold; }
    .navbar-char ul li a {
      color: #E0248A; }
    .navbar-char ul li .active {
      color: #fdaeda; }

#navbar-responsive-btn {
  padding: 9px 10px;
  border-color: #E0248A; }
  #navbar-responsive-btn .icons {
    display: inline-block; }
  #navbar-responsive-btn .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background-color: #E0248A;
    margin-top: 6px; }
  #navbar-responsive-btn .icon-bar-top {
    margin-top: 0; }

.hidden {
  display: none; }

footer {
  background-color: #F0C4DC;
  color: #FEFEFF; }
  footer h4 {
    color: #6a6a77;
    text-decoration: underline; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none; }
  footer a {
    color: #FEFEFF; }
  footer .footer-pages .footer-link {
    display: inline-block; }
  footer .icon {
    padding-right: 5px; }
  footer .social-links li {
    display: inline-block; }
    footer .social-links li a i {
      width: 40px;
      height: 40px;
      padding: 20px 0;
      border-radius: 50%;
      font-size: 20px;
      line-height: 0;
      text-align: center;
      color: #fafafa;
      background: #5f98b3;
      margin: 0 5px; }
    footer .social-links li a .mail {
      background-color: #f75959f0; }

/*Callout styles*/
.callout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../images/callout/model.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .callout-container .callout {
    margin: auto; }

/*Welcome styles*/
.welcome {
  background-color: rgba(231, 213, 213, 0.4); }

/*Image slider styles*/
.carousel-item {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*Intouch styles*/
.intouch {
  background-color: rgba(231, 213, 213, 0.4); }
  .intouch ul {
    list-style: none; }
    .intouch ul li {
      display: inline-block;
      padding-right: 2rem; }
      .intouch ul li i {
        width: 40px;
        height: 40px;
        padding: 20px 0;
        border-radius: 50%;
        font-size: 20px;
        line-height: 0;
        text-align: center;
        color: #fafafa;
        background: #5f98b3;
        margin: 0 5px; }
