@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
html body {
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
  background-color: rgba(255, 230, 252, 0.32);
  color: #494c4e;
  font-size: 1rem; }

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center; }

.padding {
  padding: 1.5rem 1rem; }

.top-section {
  margin-top: 3.5rem; }

.navbar-char {
  background-color: #1F1F1F;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3; }
  .navbar-char .brand-color {
    color: white; }
  .navbar-char ul li {
    padding-right: 0.6rem;
    font-size: 1.2rem;
    font-weight: bold; }
    .navbar-char ul li a {
      color: #E0248A; }
    .navbar-char ul li .active {
      color: #fdaeda; }

#navbar-responsive-btn {
  padding: 9px 10px;
  border-color: #E0248A; }
  #navbar-responsive-btn .icons {
    display: inline-block; }
  #navbar-responsive-btn .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background-color: #E0248A;
    margin-top: 6px; }
  #navbar-responsive-btn .icon-bar-top {
    margin-top: 0; }

.hidden {
  display: none; }

.btn {
  border-radius: 30px;
  letter-spacing: 0.1em;
  margin: 0.5rem 1rem;
  width: 8rem; }

.round-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto; }

footer {
  background-color: #F0C4DC;
  color: #FEFEFF; }
  footer h4 {
    color: #6a6a77;
    text-decoration: underline; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none; }
  footer a {
    color: #FEFEFF; }
  footer .footer-pages .footer-link {
    display: inline-block; }
  footer .icon {
    padding-right: 5px; }
  footer .social-links li {
    display: inline-block; }
    footer .social-links li a i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 20px 0;
      border-radius: 50%;
      font-size: 20px;
      line-height: 0;
      text-align: center;
      margin: 0 5px;
      color: #fafafa;
      background: #5f98b3; }
    footer .social-links li a .mail {
      background-color: #f75959f0; }

.card-shadow {
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2); }

/*Callout styles*/
.callout-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../images/callout/model.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .callout-section .color-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.95;
    position: absolute; }
  .callout-section .callout {
    margin: auto;
    z-index: 2;
    position: relative;
    text-transform: uppercase; }
  .callout-section .jumbotron-color {
    background-color: rgba(255, 244, 234, 0); }
    .callout-section .jumbotron-color .btn-callout {
      background-color: #e8a1c9;
      border-color: #e8a1c9;
      border-radius: 30px;
      letter-spacing: 0.1em;
      margin: 0.5rem 1rem;
      width: 8rem; }
      .callout-section .jumbotron-color .btn-callout a {
        color: white;
        font-size: 1.2rem; }
    .callout-section .jumbotron-color .btn-callout:hover {
      background-color: #cc96b4;
      border-color: #cc96b4; }

/*Welcome styles*/
.welcome {
  padding: 1.5rem 1rem;
  background-color: inherit; }

/*Image slider styles*/
.carousel {
  background-color: white; }

.carousel-item {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*Intouch styles*/
.intouch {
  padding: 1.5rem 1rem;
  background-color: inherit; }
  .intouch ul {
    list-style: none;
    margin-top: 30px; }
    .intouch ul li {
      display: inline-block;
      padding-right: 2rem; }
      .intouch ul li i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 20px 0;
        border-radius: 50%;
        font-size: 20px;
        line-height: 0;
        text-align: center;
        margin: 0 5px;
        height: 50px;
        width: 50px;
        font-size: 2rem;
        color: #fafafa;
        background: #ccb69a; }

.opening {
  background-color: white; }
  .opening .opening-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    background-color: inherit; }
    .opening .opening-times tbody {
      border: 1px solid #ccb69a;
      border-radius: 7px; }
    .opening .opening-times tr {
      text-decoration: underline; }
    .opening .opening-times td {
      padding: 1rem 2rem; }

@media (min-width: 768px) {
  .img-carousel {
    margin: 0 auto;
    max-width: 50%; }
  .carousel-item {
    margin: 2em inherit; } }

@media (min-width: 992px) {
  .img-carousel {
    max-width: 40%;
    margin-bottom: 2rem; } }

@media (min-width: 1200px) {
  .img-carousel {
    max-width: 30%;
    margin-bottom: 2rem; } }

.intro {
  margin-top: 5rem; }

.btn-services {
  background-color: #e8a1c9;
  border-color: #e8a1c9;
  color: white; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .services .service-card {
    margin: 0 auto 2rem auto;
    border-radius: 7px; }
    .services .service-card .card-image-size {
      height: 350px; }

.description {
  display: block; }

.special-events {
  background-color: white; }

.events {
  background-color: white; }

.events-carousel {
  margin: 0 auto; }

@media (min-width: 576px) {
  .events-carousel {
    max-width: 60%;
    margin-bottom: 2rem; } }

@media (min-width: 768px) {
  .events-carousel {
    max-width: 50%;
    margin-bottom: 2rem; } }

@media (min-width: 992px) {
  .events-carousel {
    max-width: 40%;
    margin-bottom: 2rem; } }

@media (min-width: 1200px) {
  .events-carousel {
    max-width: 30%;
    margin-bottom: 2rem; } }

.products {
  margin-top: 3.5rem; }

.products {
  padding: 1.5rem 1rem;
  background-color: inherit;
  background-color: white; }
  .products .section-container {
    margin-bottom: 30px; }
    .products .section-container p {
      margin-top: 15px; }
  .products .ghd {
    background-image: url("../../images/services/products/ghd.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .products .shampoo {
    background-color: grey; }
  .products .hair {
    background-color: grey; }

.prices-intro {
  margin-top: 3.5rem; }

.prices .icon-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(21, 21, 21, 0.58);
  border-radius: 50%;
  width: 25px;
  height: 25px; }

.prices .carousel-item .card {
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 3px, 3px, 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px, 3px, 10px rgba(0, 0, 0, 0.3);
  min-height: 55vh; }

.price-list {
  margin: auto;
  font-size: 1.5rem; }
  .price-list td {
    padding: 1rem 1.8rem; }
  .price-list .title {
    font-weight: bold; }

.contact-details {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #efdd7e;
  width: 100%; }

.icon-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(187, 173, 105, 0.58);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem; }

.contact-list {
  list-style: none; }

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .icon-container table {
    display: inline-block;
    padding: 2.5rem; }
    .icon-container table .icon-style {
      margin: 0 auto; }

.location {
  background-color: white; }

.address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 1rem; }
  .address-container .address-list {
    list-style: none;
    text-align: left;
    padding-left: 20px;
    font-weight: bold; }

#map {
  margin-top: 1rem;
  height: 300px;
  width: 100%;
  background-color: grey; }
